<h1 align='center'><strong>Listing all articles</strong></h1>
<div align="center">
<%= will_paginate %>
</div>
 <%= render 'article', obj: @articles%>
 
 <div align="center">
<%= will_paginate %>
</div>
