<!DOCTYPE html>
<html>
  <head>
    <title> Home Page </title>

  </head>

  <body>
    <h1>Ruby on rails</h1>
    <h2>Why study ruby on rails</h2>
    <p>Ruby on rails is the full stack solution to the creation of a web application </p>
    
    <%= link_to "About", about_path %>

  </body>


</html>
