<div class= "container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://evolvingsapiens.com"> The Journey Of Transformation Into Your Best Self</a>
    </small>
     <nav>
       <ul>
         <li><%= link_to "About", about_path %></li>
       </ul>
    </nav>

  </footer>
</div>
